{% extends 'base.html' %}

{% block content %}

<form method="POST" action="/update/{{ employee.id }}">
    {% csrf_token %}
    <table>
        <tr><td>
            <input name = "eid" required value="{{ employee.eid }}">
        </td></tr>
        <tr><td>
            <input name = "name" required value="{{ employee.name }}">
        </td></tr>
        <tr><td>
            <input name = "email" required value="{{ employee.email }}">
        </td></tr>
        <tr>
            <td>
                <button type="submit"> Update </button>
            </td>
        </tr>
    </table>

    {% endblock %}